.Meals{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    padding: 0em 0em 0em 2em;
}

.MealHeader{
   display: flex;
   flex-direction: column;
   padding: 0em 0em 0em 2em;
}

.MealTitle{
    font-size: 1.2em;
}

.PaginationLinkNormal{   
    border: 3px solid #F34B0B;
    padding: 12px;
    border-radius: 10px;
    color: #F34B0B;    
    opacity: 0.8;
}

.PaginationLinkActive{
    background-color: #F34B0B;
    padding: 15px;
    color: #ffffff;
}

.PaginationLinkActive,.PaginationLinkNormal{
    margin: 3px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.PaginationList{
    list-style-type: none;
    display: flex;
}




@media screen and (min-width:400px)
{   
    .Meals{
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:1em;
        padding: 0em 0em 0em 2em;
    }
}



@media screen and (min-width:700px){   
    .Meals{
        max-width: 100%;
        grid-template-columns: repeat(3,1fr);
        gap:0px;
    }

    .MealCard{
        width: 15em;
    }
    
    .CardImage img{
      max-width: 200px;
    }
    .MealHeader{
        padding: 0em 0em 0em 2em;
     }
     .PaginationDiv{
        padding: 0em 0em 0em 5em;
    }
}

@media screen and (min-width: 960px){
    .Meals{
        max-width: 100%;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        padding: 0em 0em 0em 8em;
    }
    .MealCard{
        width: 10em;
    }
    
    .CardImage img{
      max-width: 200px;
    }
    
    .CardText{
        font-size: 1.5em;
    }
    .PaginationDiv{
        padding: 0em 0em 0em 8em;
    }
}

@media screen and (min-width:1200px){
    .Meals{
        max-width: 100%;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        padding: 0em 0em 0em 10em;
        margin-top: -10px;
        margin-bottom: 5em;

    }
    
    
    .CardImage img{
      max-width: 320px;
    }
    
    .CardText{
        font-size: 1.5em;
    }
    .MealHeader{
        padding: 0em 0em 0em 10em;
     }
     .MealTitle{
         font-size: 2em;
     }

}
