.FAQMain{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    margin-top: 60px;
    height: calc(90vh - 60px);
    box-sizing: border-box;
    font-size: 3.5px;
}

.FAQLeft{
    grid-column: 1/9;
    background-color: rgba(253, 233, 224,.4);
    height: 100%;
    border-radius: 50px;
    margin: 0px 20px 0px 20px;
}
.FAQLeft h4{
    font-size: 5em;
    word-wrap: break-word;
    margin: 70px 20px 1px 20px; 
    line-height: 1.5em;
}


.FAQRight{
    grid-column: 9/13;
    background: url('./../../Assets/chapat.jpg') no-repeat;
    background-size: cover;
    border-radius: 80px 0px 0px 0px;
    height: 100%;
}

.answer{
    font-weight: 50;
}

@media screen and (min-width: 400px){
    .FAQLeft h4{
        margin: 60px 40px 10px 40px;
        font-size: 5em;
    }
    
}


@media screen and (min-width: 700px){
    .FAQLeft h4{
        margin: 60px 40px 10px 70px;
        font-size: 6em;
        line-height: 1.2em;
    }
    
}

@media screen and (min-width: 960px){
    .FAQLeft h4{
        margin: 60px 100px 10px 110px;
        font-size: 7em;
        line-height: 1.5em;
    }
}

@media screen and (min-width:1200px){
    .FAQRight{
        border-radius: 100px 0px 0px 0px;
    }
    .FAQLeft h4{
        font-size: 8em;
        margin: 90px 100px 0px 140px;
        line-height: 1.2em;
    }
}