.ForgotMain{
    display: grid;
    grid-template-columns: repeat(12);
    margin-top: 100px;
}

.ForgotPasswordDiv {
    grid-column: 6/12;
}
.messageDiv{
    grid-column: 6/12;
    background-color: rgb(204, 157, 157);
    width: 50%;
    color: white;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 15px;
}

.ForgotPasswordDiv form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
}

.emailLablel2,.emailLabel1{
    color:#A57B08;
    font-weight: bold;
}

.emailLabel1{
    font-size: 1.2em;
}
.emailLablel2{
    font-size: 1em;
    margin-top: 10px;
    align-self: center;
}
.textDanger2{
    color: red;
    align-self: center;
}